#####################################
# OS-specific
#####################################
.DS_Store
Thumbs.db

#####################################
# Logs
#####################################
*.log
logs/
*.pid

#####################################
# Environment and Secrets
#####################################
.env
.env.*
secrets/
**/secrets.yml
*.secrets.yml

#####################################
# Dependency Directories
#####################################
node_modules/
target/
__pycache__/
.Python
.venv/

#####################################
# Compiled Files and Caches
#####################################
*.pyc
*.pyo
*.pyd
*.class
dist/
build/
*.cache

#####################################
# Editor & IDE Files
#####################################
.vscode/
.idea/
*.code-workspace

#####################################
# Docker
#####################################
*.pid

#####################################
# Java
#####################################
*.class
target/

#####################################
# Python
#####################################
__pycache__/
*.py[cod]
.Python

#####################################
# React (Vite / Next / Turbo)
#####################################
frontend/.next/
frontend/.turbo/
frontend/.cache/

#####################################
# Keycloak
#####################################
keycloak/config/umi-realm-config
